.mat-list .mat-list-item, .mat-nav-list .mat-list-item, .mat-selection-list .mat-list-item{font-size: 14px; height: 0;margin-bottom: 26px;}
.mat-icon{margin-right: 10px; color: #03a9f4}
// td.mat-cell:last-child, td.mat-footer-cell:last-child, th.mat-header-cell:last-child{padding: 0 !important;}
// td.mat-cell:first-child, td.mat-footer-cell:first-child, th.mat-header-cell:first-child{padding: 0px !important;}
.mat-expansion-panel-body{padding: 0 !important;}
.mat-expansion-panel-header{height: 48px !important; background: #d0d0d0 !important; padding-top: 16px;}
