<mat-list role="list">
    <mat-list-item role="listitem" (click)="openDialog()" style="cursor: pointer"><mat-icon  style="color: #8BC34A; margin-right:10px">description</mat-icon>Add New</mat-list-item>
    
  </mat-list>

<table mat-table [dataSource]="dataSource">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> date</th>
      <td mat-cell *matCellDef="let element"> {{element.date}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="meetingID">
      <th mat-header-cell *matHeaderCellDef> meetingID </th>
      <td mat-cell *matCellDef="let element"> {{element.meetingID}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="organizer">
      <th mat-header-cell *matHeaderCellDef> organizer </th>
      <td mat-cell *matCellDef="let element"> {{element.organizer}} </td>
    </ng-container>
  
    <ng-container matColumnDef="phase">
        <th mat-header-cell *matHeaderCellDef> phase </th>
        <td mat-cell *matCellDef="let element"> {{element.phase}} </td>
      </ng-container>
   
      <ng-container matColumnDef="subPhase">
          <th mat-header-cell *matHeaderCellDef> subPhase </th>
          <td mat-cell *matCellDef="let element"> {{element.subPhase}} </td>
        </ng-container>

        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> description </th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
          </ng-container>

          <ng-container matColumnDef="minutes">
              <th mat-header-cell *matHeaderCellDef> minutes </th>
              <td mat-cell *matCellDef="let element"> {{element.minutes}} </td>
            </ng-container>
       
   
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>