#product {

    .header {

        .product-image {
            overflow: hidden;
            width: 56px;
            height: 56px;
            border: 3px solid rgba(0, 0, 0, 0.12);

            img {
                height: 100%;
                width: auto;
                max-width: none;
            }
        }

        .subtitle {
            margin: 6px 0 0 0;
        }
    }
    

    .mat-tab-body.mat-tab-body-active{background: #fff ; padding: 20px;}
.content {        

.fa-book:before,.fa-file-invoice-dollar:before,.fa-users:before,.fa-sticky-note:before,.fa-file-alt:before,.fa-print:before,.fa-cog:before
 {font-size: 12px;position: relative;bottom: 4px;color:#717070;}
        // .fa-file-invoice-dollar:before{color: #FFC107}
        // .fa-users:before,.fa-file-alt:before{color: #3f51b5}
        // .fa-sticky-note:before{color: #4CAF50}
        // .fa-print:before{color: #03a9f4}
        // .fa-cog:before{color: #009688;}


        #product .content .mat-tab-body-content{display: inline !important}
        .mat-tab-group,
        .mat-tab-body-wrapper,
        .tab-content{
            flex: 1 1 auto;
            max-width: 100%;
        }
        .fa-plus-circle:before{font-size: 18px;}
        .mat-tab-body-content {
            display: flex;
        }
        .mat-table{width: 100%}
        .mat-tab-label {
            height: 64px;         
        }
        .homeIcon { background: url(assets/icons/home2.png)  35px 34px no-repeat;   padding: 10px;    background-size: 16px; }
        .documentIcon { background: url(assets/icons/document.png) 0 0 no-repeat;   padding: 10px;    background-size: 16px; }
        .mat-expansion-panel-content.mat-expanded {overflow: scroll;height: 318px;}

        .cardAlign{width: 100%;top: 0;position: absolute;}
    
        .product-image {
            overflow: hidden;
            width: 128px;
            height: 128px;
            margin-right: 16px;
            margin-bottom: 16px;
            border: 3px solid rgba(0, 0, 0, 0.12);

            img {
                height: 100%;
                width: auto;
                max-width: none;
            }
        }

   

    }

}
