
.mat-form-field{margin-left: 16px}
table {
    width: 100%;
  }
  .mat-elevation-z8{box-shadow: none}
  .example-headers-align .mat-expansion-panel-header-title, 
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}
.mat-expansion-panel{margin-top: 12px;}
.mat-content{position: relative ;top: 19px !important;}
.mat-expansion-panel-header-description {
    flex-grow: 6 !important;
   
}

