<div id="orders" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->
  
    <!-- CENTER -->
    <div class="center">
  
      <!-- HEADER -->
      <div class="header mat-accent-bg" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
  
        <!-- APP TITLE -->
        <div class="logo" fxLayout="row" fxLayoutAlign="start center">
          <mat-icon class="logo-icon mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
            shopping_basket
          </mat-icon>
          <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Object Code</span>
        </div>
        <!-- / APP TITLE -->
  
  
      </div>
      <!-- / HEADER -->
  
      <!-- CONTENT CARD -->
      <div class="content-card mat-white-bg">
  
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon style="position: relative;left: -5px;color: #03a9f4;">add</mat-icon> Add New </mat-panel-title>
            </mat-expansion-panel-header>
  
            <div class="tab-content p-24" fusePerfectScrollbar>
                <div class="w-100-p mb-10">
                    <span class="mat-title">Form Management - New: Form-0-31 - Form Status: Preparing</span>
                </div>
                <div class="w-100-p">
                  <div fxFlex="30" class="mr-16">
                    Form Details:Document Owner:jeremy Chapman
                  </div>
                  <div fxFlex="30">
                      Current Form :
                    </div>
                </div>
              <div class="w-100-p">
                  <mat-form-field fxFlex="30" class="mr-16">
                      <input matInput [matDatepicker]="picker" placeholder="Form Date">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>

                        <input type="file" >
                      
                  </div>
              <div class="w-100-p">
                  <mat-form-field fxFlex="30">
                      <mat-select placeholder="Category" >
                        <mat-option>None</mat-option>
                        <mat-option value="option1">Not Selected</mat-option>
                        <mat-option value="option2">PrePlanning</mat-option>  
                        <mat-option value="option3">Planning</mat-option>
                        <mat-option value="option3">Design</mat-option>
                        <mat-option value="option3">DSA</mat-option>
                        <mat-option value="option3">Bidding</mat-option>
                        <mat-option value="option3">Construction</mat-option>
                        <mat-option value="option3">Close-out</mat-option>                      
                      </mat-select>
                    </mat-form-field>
              </div>
  
              <div class="w-100-p">
                <mat-form-field fxFlex="30" class="mr-16">
                  <input matInput placeholder="Form Title" >
                </mat-form-field>
              </div>
              <div class="w-100-p">
                  <mat-form-field fxFlex="30" class="mr-16">
                      <textarea matInput placeholder="Leave a comment"></textarea>
                  </mat-form-field>
                </div>
    
              <div class="w-50-p" style="float: right">
                <button mat-flat-button color="accent" class="mr-16" (click)="addHero(newHero.value)">Save</button>
              </div>
            </div>
  
  
          </mat-expansion-panel>
  
        </mat-accordion>
        <div class="w-50-p " style="float: right; margin: 10px;">
            <button mat-flat-button color="accent" class="mr-16" (click)="addHero(newHero.value)">Save</button>
          </div>
  
        <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
          <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
            
            <th mat-header-cell *matHeaderCellDef> {{column}} </th>
              <td mat-cell *matCellDef="let element"  >{{element[column]}} </td>
          </ng-container>
  
          <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
              <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                  <table mat-table [dataSource]="dataSourceOne" >
  
                      <!--- Note that these columns can be defined in any order.
                            The actual rendered columns are set as a property on the row definition" -->
                    
                      <!-- Position Column -->
                      <ng-container matColumnDef="desc">
                        <!-- <th mat-header-cell *matHeaderCellDef>  </th> -->
                        <td mat-cell *matCellDef="let elementOne" style="width:60%"> {{elementOne.desc}}</td>
                      </ng-container>
                    
                      <!-- Name Column -->
                      <ng-container matColumnDef="orde">
                        <!-- <th mat-header-cell *matHeaderCellDef>  </th> -->
                        <td mat-cell *matCellDef="let elementOne" style="width:16%; margin: 0 auto; text-align: center;">{{elementOne.orde}}<mat-form-field >
                                <input matInput value="1" fxflex="5" style="width:50px;"  >
                              </mat-form-field>
                         </td>
                      </ng-container>
                    
                      <!-- Weight Column -->
                      <ng-container matColumnDef="sett">
                        <!-- <th mat-header-cell *matHeaderCellDef>  </th> -->
                        <td mat-cell *matCellDef="let elementOne"> 
                            {{elementOne.sett}} 
  
                            <mat-form-field >
                                <mat-select placeholder="ON" formControlName="country" >
                                    <mat-option [value]="'ON'">
                                        ON
                                    </mat-option>
                                    <mat-option [value]="'OFF'">
                                        OFF
                                    </mat-option>
                                  
                                   
                                </mat-select>
                              </mat-form-field>
                       </td>
                      </ng-container>
                    
                    
                    
                     
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                
              </div>
            </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
          <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row" [class.example-expanded-row]="expandedElement === element"
            (click)="expandedElement = element">
          </tr>
          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
        </table>
      </div>
      <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
  </div>