<div id="orders" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header mat-accent-bg"
             fxLayout="column" fxLayoutAlign="center center"
             fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

            <!-- APP TITLE -->
            <div class="logo"
                 fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    shopping_basket
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Administartion</span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-input-wrapper ml-sm-16"
                 fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                <label for="search" class="mr-8">
                    <mat-icon class="secondary-text">search</mat-icon>
                </label>
                <mat-form-field floatLabel="never" fxFlex="1 0 auto">
                    <input id="search" matInput #filter placeholder="Search">
                </mat-form-field>
            </div>
            <!-- / SEARCH -->
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg">

                <mat-tab-group>
                        <mat-tab label="Change Password"> 
                                <div class="tab-content p-24" fusePerfectScrollbar>
                                        <div class="w-100-p">
                                                <mat-form-field fxFlex="100" class="mr-16">
                                                    <input matInput placeholder="Enter Current Password" >        
                                                </mat-form-field>
                                            </div>

                                            <div class="w-100-p">
                                                    <mat-form-field fxFlex="100" class="mr-16">
                                                        <input matInput placeholder="Enter New Password" >        
                                                    </mat-form-field>
                                                </div>
                                                <div class="w-100-p">
                                                        <mat-form-field fxFlex="100" class="mr-16">
                                                            <input matInput placeholder="Retype New Password" >        
                                                        </mat-form-field>                                                        
                                <span  class="mat-caption">(at least 8 characters including 1 number and 1 upper case letter - ie:Testpwd2)</span>
                                                    </div>
                                                    <div class="w-80-p">
                                                            <button mat-raised-button  color="accent" style="float: right;" >Save</button>
                                                    </div>

                                        </div>
                        
                        </mat-tab>
                        <mat-tab label="Reset Saved Grid Settings">
                                <div class="tab-content p-24" fusePerfectScrollbar>
                                            <div class="w-80-p">
                                            <button mat-raised-button  color="accent" >Reset All Saved Grid and Dashboard Settings</button>
                                                </div>

                                        </div>

                        </mat-tab>
                   
                      </mat-tab-group>

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
