<div id="orders" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header mat-accent-bg"
             fxLayout="column" fxLayoutAlign="center center"
             fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

            <!-- APP TITLE -->
            <div class="logo"
                 fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    shopping_basket
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Object Code</span>
            </div>
            <!-- / APP TITLE -->

          
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg">

            <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                   <mat-icon style="position: relative;left: -5px;color: #03a9f4;">add</mat-icon> Add New </mat-panel-title>    
                  </mat-expansion-panel-header> 
                  
                  <div class="tab-content p-24" fusePerfectScrollbar>
                      <div class="w-100-p">
                          <mat-form-field fxFlex="30" class="mr-16">
                              <input matInput placeholder="Object Code">        
                          </mat-form-field>
                      </div>
                      <div class="w-100-p">
                          <mat-form-field fxFlex="30" class="mr-16">
                              <input matInput placeholder="Description">        
                          </mat-form-field>
                      </div>
                      <div class="w-100-p"> 
                      <mat-form-field fxFlex="30" class="mr-16" class="mr-16">
                          <mat-select placeholder="Budget Group" formControlName="Budget Group"   >
                              <mat-option [value]="'-- none --'">
                                  -- none --
                              </mat-option>
                              <mat-option [value]="' Option 1'">
                                  Option 1
                              </mat-option>
                              <mat-option [value]="' Option 2'">
                                  Option 2
                              </mat-option>
                              <mat-option [value]="' Option 3'">
                                  Option 3
                              </mat-option>
                              <mat-option [value]="' Option 4'">
                                  Option 4
                              </mat-option>

                          </mat-select>

                      </mat-form-field>
                    </div>
       
                    <div class="w-100-p">
                        <mat-form-field fxFlex="30" class="mr-16" class="mr-16">
                            <mat-select placeholder="Object Code Group" formControlName="Object Code Group" required disabled >
                                <mat-option [value]="'-- none --'">
                                   Hard Costs
                                </mat-option>
                                <mat-option [value]="' Option 1'">
                                    Soft Costs
                                </mat-option>
  
                            </mat-select>
  
                        </mat-form-field>
                      </div>
                      <div class="w-100-p">
                          <mat-form-field fxFlex="30" class="mr-16">
                              <input matInput placeholder="ID" value="0">        
                          </mat-form-field>
                      </div>
              
              <div class="w-50-p" style="float: right">
                <button mat-flat-button color="accent" class="mr-16">Save</button>    
              </div>
               </div>
              
              
                </mat-expansion-panel>
              
              </mat-accordion>
            <table mat-table [dataSource]="dataSource" >

                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->
              
                <!-- Position Column -->
                <ng-container matColumnDef="objectCode">
                  <th mat-header-cell *matHeaderCellDef> Object Code</th>
                  <td mat-cell *matCellDef="let element"> {{element.objectCode}} </td>
                </ng-container>
              
                <!-- Name Column -->
                <ng-container matColumnDef="description">
                  <th mat-header-cell *matHeaderCellDef> Description </th>
                  <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                </ng-container>
              
                <!-- Weight Column -->
                <ng-container matColumnDef="budgetGroup">
                  <th mat-header-cell *matHeaderCellDef> Budget Group </th>
                  <td mat-cell *matCellDef="let element"> {{element.budgetGroup}} </td>
                </ng-container>
              
                <!-- Symbol Column -->
                <ng-container matColumnDef="ObjectCodeGroup">
                  <th mat-header-cell *matHeaderCellDef> Object Code Group </th>
                  <td mat-cell *matCellDef="let element"> {{element.ObjectCodeGroup}} </td>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> Action</th>
                    <td mat-cell *matCellDef="let element" (click)="openDialog()"> <mat-icon >mode_edit</mat-icon> </td>
                  </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
