<div>
    <div style="display: block;position: relative;top: 52px;width: 418px;left: -56px;">
      <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [chartType]="barChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
    </div>
    <!-- <button (click)="randomize()">Update</button> -->
  </div>
