
<mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
       <mat-icon style="position: relative;left: -5px;color: #03a9f4;">add</mat-icon> Add New</mat-panel-title>
      
      </mat-expansion-panel-header> 
     <formOne></formOne>
          
    </mat-expansion-panel>
    <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
             <mat-icon style="position: relative;left: -5px;color: #03a9f4;">add</mat-icon> Add New</mat-panel-title>
            
            </mat-expansion-panel-header> 
           <formOne></formOne>
                
          </mat-expansion-panel>
  
  </mat-accordion>