<div id="product" class="page-layout carded fullwidth inner-scroll">

        <!-- TOP BACKGROUND -->
        <div class="top-bg mat-accent-bg"></div>
        <!-- / TOP BACKGROUND -->
    
        <!-- CENTER -->
        <div class="center">
    
            <!-- HEADER -->
            <div class="header mat-accent-bg" fxLayout="row" fxLayoutAlign="space-between center">
    
                <!-- APP TITLE -->
                <div fxLayout="row" fxLayoutAlign="start center">
    
                    <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/apps/e-commerce/products'">
                        <mat-icon>arrow_back</mat-icon>
                    </button>
    
                    <div class="product-image mr-8 mr-sm-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                        <img *ngIf="product.images[0]" [src]="product.images[0].url">
                        <img *ngIf="!product.images[0]" [src]="'assets/images/ecommerce/product-image-placeholder.png'">
                    </div>
    
                    <div fxLayout="column" fxLayoutAlign="start start" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                        <div class="h2" *ngIf="pageType ==='edit'">
                            {{product.name}}
                        </div>
                        <div class="h2" *ngIf="pageType ==='new'">
                            Series A
                        </div>
                        <div class="subtitle secondary-text">
                            <span>Product Detail</span>
                        </div>
                    </div>
                </div>
    
    
                <button mat-raised-button class="save-product-button mat-white-bg" [disabled]="productForm.invalid" *ngIf="pageType ==='new'"
                    (click)="addProduct()">
                    <span>ADD</span>
                </button>
    
                <button mat-raised-button class="save-product-button mat-white-bg" [disabled]="productForm.invalid || productForm.pristine"
                    *ngIf="pageType ==='edit'" (click)="saveProduct()">
                    <span>SAVE</span>
                </button>
            </div>
            <!-- / HEADER -->
    
            <!-- CONTENT CARD -->
            <div class="content-card mat-white-bg">
    
                <!-- CONTENT -->
                <div class="content">
    
    
    
    
    
                    <form name="productForm" [formGroup]="productForm" class="product w-100-p" fxLayout="column" fxFlex>
    
    
    
                        <mat-tab-group class="homeIcon">
                            <span class="documentIcon"></span>
                            <mat-tab label="Overview">
    
    
    
    
                                <div class="tab-content p-24" fusePerfectScrollbar>
    
                                    <div style="margin: 10px 0">
                                        <!-- <dialog-content-example></dialog-content-example> -->
                                        <app-add-new-contact></app-add-new-contact>
    
                                    </div>
    
                                    <div class="content w-100-p">
    
                                        <!-- WIDGET GROUP -->
                                        <div class="widget-group" fxLayout="row wrap" fxFlex="100" fxLayoutAlign="start start" [@animateStagger]="{value:'50'}">
    
                                            <fuse-widget class="p-10" fxLayout="column" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="50">
    
                                                <!-- Front -->
                                                <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
                                                    <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="space-between center">
                                                        <div>
                                                            <i class="fas fa-book"></i>Project Overview</div>
    
                                                        <button mat-icon-button fuseWidgetToggle aria-label="more">
                                                            <mat-icon>more_vert</mat-icon>
                                                        </button>
                                                    </div>
    
                                                    <div class="pt-8 pb-32" fxLayout="column" style="max-height: 400px;min-height: 201px;overflow: auto;">
                                                        <app-project-overview></app-project-overview>
                                                    </div>
                                                </div>
                                                <!-- / Front -->
    
                                                <!-- Back -->
                                                <div class="fuse-widget-back p-16 pt-32 mat-white-bg mat-elevation-z2">
                                                    <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button" aria-label="Flip widget">
                                                        <mat-icon class="s-16">close</mat-icon>
                                                    </button>
    
                                                    <div>
                                                        More widget info
                                                    </div>
                                                </div>
                                                <!-- / Back -->
    
                                            </fuse-widget>
    
                                            <fuse-widget class="p-10" fxLayout="column" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="50">
    
                                                <!-- Front -->
                                                <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
                                                    <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="space-between center">
                                                        <div>
                                                            <i class="fas fa-file-invoice-dollar"></i>
                                                            Budget Overview</div>
    
                                                        <button mat-icon-button fuseWidgetToggle aria-label="more">
                                                            <mat-icon>more_vert</mat-icon>
                                                        </button>
                                                    </div>
    
                                                    <div class="pt-8 pb-32" fxLayout="column" style="max-height: 400px;min-height: 201px;overflow: auto;">
                                                        <app-project-overview></app-project-overview>
                                                    </div>
                                                </div>
                                                <!-- / Front -->
    
                                                <!-- Back -->
                                                <div class="fuse-widget-back p-16 pt-32 mat-white-bg mat-elevation-z2">
                                                    <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button" aria-label="Flip widget">
                                                        <mat-icon class="s-16">close</mat-icon>
                                                    </button>
    
                                                    <div>
                                                        More widget info
                                                    </div>
                                                </div>
                                                <!-- / Back -->
    
                                            </fuse-widget>
    
    
                                            <fuse-widget class="p-10" fxLayout="column" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="50">
    
                                                <!-- Front -->
                                                <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
                                                    <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="space-between center">
                                                        <div>
                                                            <i class="fas fa-users"></i>
                                                            Project Team Members</div>
    
                                                        <button mat-icon-button fuseWidgetToggle aria-label="more">
                                                            <mat-icon>more_vert</mat-icon>
                                                        </button>
                                                    </div>
    
                                                    <div class="pt-8 pb-32" fxLayout="column" style="max-height: 400px;min-height: 201px;overflow: auto;">
                                                        <app-project-overview></app-project-overview>
                                                    </div>
                                                </div>
                                                <!-- / Front -->
    
                                                <!-- Back -->
                                                <div class="fuse-widget-back p-16 pt-32 mat-white-bg mat-elevation-z2">
                                                    <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button" aria-label="Flip widget">
                                                        <mat-icon class="s-16">close</mat-icon>
                                                    </button>
    
                                                    <div>
                                                        More widget info
                                                    </div>
                                                </div>
                                                <!-- / Back -->
    
                                            </fuse-widget>
    
    
                                            <fuse-widget class="p-10" fxLayout="column" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="50">
    
                                                <!-- Front -->
                                                <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
                                                    <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="space-between center">
                                                        <div>
                                                            <i class="fas fa-sticky-note"></i>
                                                            Notes</div>
    
                                                        <button mat-icon-button fuseWidgetToggle aria-label="more">
                                                            <mat-icon>more_vert</mat-icon>
                                                        </button>
                                                    </div>
    
                                                    <div class="pt-8 pb-32" fxLayout="column" style="max-height: 400px;min-height: 201px;overflow: auto;">
                                                        <app-project-overview></app-project-overview>
                                                    </div>
                                                </div>
                                                <!-- / Front -->
    
                                                <!-- Back -->
                                                <div class="fuse-widget-back p-16 pt-32 mat-white-bg mat-elevation-z2">
                                                    <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button" aria-label="Flip widget">
                                                        <mat-icon class="s-16">close</mat-icon>
                                                    </button>
    
                                                    <div>
                                                        More widget info
                                                    </div>
                                                </div>
                                                <!-- / Back -->
    
                                            </fuse-widget>
    
    
    
    
    
                                        </div>
    
    
    
    
                                    </div>
                                </div>
    
                            </mat-tab>
    
                            <mat-tab label="Documents">
                                <div class="tab-content p-24" fusePerfectScrollbar>
                                    <div fxLayout="row wrap" fxLayoutAlign="start start">
    
                                        <div *ngIf="product.images.length === 0" class="product-image" fxlayout="row" fxLayoutAlign="center center">
                                            <img class="media" [src]="'assets/images/ecommerce/product-image-placeholder.png'">
                                        </div>
    
                                        <div *ngFor="let image of product.images">
                                            <div *ngIf="product.images.length > 0" class="product-image" fxlayout="row" fxLayoutAlign="center center">
                                                <img class="media" [src]="image.url">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </mat-tab>
    
                            <mat-tab label="Project Budget">
                                <div class="tab-content" fusePerfectScrollbar>
    
                                    <app-project-budget></app-project-budget>
    
                                </div>
                            </mat-tab>
    
                            <mat-tab label="PEP">
                                <div class="tab-content p-24" fusePerfectScrollbar>
    
                                    <mat-form-field class="w-100-p">
                                        <input matInput name="sku" formControlName="sku" placeholder="SKU">
                                    </mat-form-field>
    
                                    <mat-form-field class="w-100-p">
                                        <input matInput name="quantity" formControlName="quantity" placeholder="Quantity" type="number">
                                    </mat-form-field>
                                </div>
                            </mat-tab>
    
                            <mat-tab label="Meeting Minutes">
                                <div class="tab-content p-24" fusePerfectScrollbar fxLayout="column">
    
                                    <div class="py-16" fxLayout="row">
                                        <mat-form-field fxFlex>
                                            <input matInput name="Width" formControlName="width" placeholder="Width">
                                        </mat-form-field>
                                        <mat-form-field fxFlex>
                                            <input matInput name="Height" formControlName="height" placeholder="Height">
                                        </mat-form-field>
                                        <mat-form-field fxFlex>
                                            <input matInput name="Depth" formControlName="depth" placeholder="Depth">
                                        </mat-form-field>
                                    </div>
    
                                    <mat-form-field class="w-100-p">
                                        <input matInput name="Weight" formControlName="weight" placeholder="Weight">
                                    </mat-form-field>
    
                                    <mat-form-field class="w-100-p">
                                        <input matInput name="extraShippingFee" formControlName="extraShippingFee" placeholder="Extra Shipping Fee" type="number">
                                        <span matPrefix>$&nbsp;</span>
                                    </mat-form-field>
                                </div>
                            </mat-tab>
                            <mat-tab label="Bond Website"> Bond Website Here</mat-tab>
                            <mat-tab label="Photos"> Photos Website Here</mat-tab>
                            <mat-tab label="Notes"> Notes Website Here</mat-tab>
    
                        </mat-tab-group>
                    </form>
    
                </div>
                <!-- / CONTENT -->
    
            </div>
            <!-- / CONTENT CARD -->
    
        </div>
        <!-- / CENTER -->
    </div>